html {
    background-color:#eef
}

body {
    margin: 0 auto;
    max-width: 1000px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    text-align: center;
    color: #000;
    background-color:#fff;
    height: 100%
}


div#header {
    background-color: #fff;
}

.vertline {
    background-color:steelblue;
    color: #fff;
	padding:5px;
}

.bodyDiv {
    margin: 20px;
	padding-top: 10px;
}
table {
    width:100%;
}
.textleft {
    text-align: left;
	padding: 20px;
}

table.alpha tr:hover {background-color: #f5f5f5;}
table.beta tr:hover {background-color: #f5f5f5;}
table.alpha tr {border-bottom: 1px solid #ddd;}

